@using DevOpsAssistant.Pages
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Help> L

<MudText Typo="Typo.h4" Class="mb-15">@L["Heading"]</MudText>
<MudText Typo="Typo.body1" Class="mb-15">@((MarkupString)L["Intro"].Value)</MudText>

<MudPaper Class="pa-4 mb-15">
    <MudText Typo="Typo.h6">Epics &amp; Features</MudText>
    <MudText Typo="Typo.body2">@((MarkupString)L["Epics"].Value)</MudText>
</MudPaper>
<MudPaper Class="pa-4 mb-15">
    <MudText Typo="Typo.h6">Story Validation</MudText>
    <MudText Typo="Typo.body2">@((MarkupString)L["Validation"].Value)</MudText>
</MudPaper>
<MudPaper Class="pa-4 mb-15">
    <MudText Typo="Typo.h6">Story Quality</MudText>
    <MudText Typo="Typo.body2">@((MarkupString)L["Quality"].Value)</MudText>
</MudPaper>
<MudPaper Class="pa-4 mb-15">
    <MudText Typo="Typo.h6">Requirement Planner</MudText>
    <MudText Typo="Typo.body2">@((MarkupString)L["RequirementsPlanner"].Value)</MudText>
</MudPaper>
<MudPaper Class="pa-4 mb-15">
    <MudText Typo="Typo.h6">Release Notes</MudText>
    <MudText Typo="Typo.body2">@((MarkupString)L["ReleaseNotes"].Value)</MudText>
</MudPaper>
<MudPaper Class="pa-4 mb-15">
    <MudText Typo="Typo.h6">Metrics</MudText>
    <MudText Typo="Typo.body2">@((MarkupString)L["Metrics"].Value)</MudText>
</MudPaper>
<MudPaper Class="pa-4 mb-15">
    <MudText Typo="Typo.h6">Branch Health</MudText>
    <MudText Typo="Typo.body2">@((MarkupString)L["BranchHealth"].Value)</MudText>
</MudPaper>
<MudPaper Class="pa-4 mb-15">
    <MudText Typo="Typo.h6">Settings</MudText>
    <MudText Typo="Typo.body2">
        @((MarkupString)string.Format(L["Settings"],
            "<a href='https://learn.microsoft.com/azure/devops/organizations/accounts/use-personal-access-tokens-to-authenticate' target='_blank'>this guide</a>"))
    </MudText>
</MudPaper>
</div>
