@using Microsoft.Extensions.Localization
@inject IStringLocalizer<App> L

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>@L["NotFoundTitle"]</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">@L["NotFoundMessage"]</p>
        </LayoutView>
    </NotFound>
</Router>
